[core]
	excludesfile = /Users/mduszynski/.gitignore_global
	editor = /usr/local/bin/vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Matt Duszynski
	email = mduszynski@weedmaps.com
[push]
	default = current
[commit]
	template = /Users/mduszynski/.stCommitMsg
[credential]
	helper = osxkeychain
[diff-so-fancy]
	stripLeadingSymbols = false
