[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Matt Duszynski
	email = mattduszynski@gmail.com
[push]
	default = current
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = osxkeychain
[diff-so-fancy]
	stripLeadingSymbols = false
[pull]
	ff = only
[init]
	defaultBranch = master
