"*":
  "activate-power-mode":
    autoToggle: false
  core:
    allowPendingPaneItems: false
    projectHome: "/Users/Matt/Projects"
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "f25dcdbb-cb07-5f9b-ae75-0e93a52931a0"
  welcome:
    showOnStartup: false
